.App{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color:  #ffffff;
}

.weather{
   width: 35rem;
   height: 28rem;
   background-color: rgba(0,0,0,0.5); 
   border-radius: 20px;
   display: flex;
   flex-direction: column;
}